/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<------------ NOTES -------------->>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* TO DO 
    - HTML
        - *Home
            - All done, except key point images/text
        - Class Info
        - Events
        - About Us
        - Contact

    - 27/12/2023
        Continue with header, add all fonts to headings, have made different classes for page sections with light/dark BGs to colour text more easily. Font stacks not fully supported in variables (?), so copy paste them in as would need to type fallback anyway. Look up using CSS grid for main-nav-options.

    - 28/12/2023
        Styled main-nav__options tiles and basic interactions, need to add interactivity.
*/

/* ------------- */
/* Useful Links  */
/* ------------- */
    /* 
    FLEXBOX CHEATSHEET: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-properties

    BEM Naming: https://getbem.com/naming/ 
        Block-name__element-name--modifier-name

    Use percentages to size elements to viewport: https://stackoverflow.com/questions/1622027/percentage-height-html-5-css
        For sizing header to 75% of viewport height... could change to newer vw/vh units? html,body and page-wrap set to 100% height+width.
    
    >>> GIT
    https://docs.github.com/en/get-started/using-git/pushing-commits-to-a-remote-repository
    
    */

    /* FONTS
        font-family: 'Anton', sans-serif;
        font-family: 'Antonio', sans-serif;
        font-family: 'Black Han Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Permanent Marker', cursive; 
    */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<-------- CSS START -------------->>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* -------------------- */
/* >>> GLOBAL VARIABLES */
/* -------------------- */

:root {

    /* Main Colour Palette */
    --main-dark-colour: #0d1e26;
    --main-light-colour: #FFF;
    --accent-1: #DA222A;
    --accent-2: #8F273F;
    --accent-3: #53A6A7;
    --accent-4: #EE8423;
    --cta-gradient-colours: var(--accent-1), var(--accent-2);

    /* Rough edge mask SVGs */
    --mask-box-rect: url("images/Textured-edge-box-1920x1080.svg");
    --mask-box-square: url("images/Textured-edge-box-1080x1080.svg");
}

/* >>> Set width and height of full page elements to 100% so % values work for all attributes */

html {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    /* border: solid 3px purple; */
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    /* border: solid 3px yellow; */
}

.page-wrap {
    margin: 0;
    width: 100%;
    height: auto;

    border: solid 3px green;
}

img {
    display: block;
    max-width: 100%;
}


/* >>> HEADINGS */

/* Page heading */
h1 {
    border: solid 1px red;

    font-family: 'Anton', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: var(--main-light-colour);
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

h1 em {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.25em;
    color: var(--accent-1);
    font-style: normal;
}

/* Page section heading (<article>) */
h2 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

/* Section sub-heading */
h3 {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

/* >>> DECORATIVE */

/* Image overlay text */
h4 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1em;
    font-weight: bold;
}

/* >>> LINKS */
/* Note: Change separately for nav-options, buttons, and inline/footer links */

a {
    font-family: 'Antonio', sans-serif;
}

/* >>> PARAGRAPH */

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-dark-colour);
    line-height: 1.5em;
}

/* -------------------- */
/* >> PAGE HEADER       */
/* -------------------- */

.page-header {
    position: relative;
    margin: 0;
    width: 100%;
    height: 30em; /* Changed to em, % not working */
    
    border: solid 1px blue;
}

/* >>> HEADER BACKGROUND VIDEO */

.header-reel-container {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    z-index: -1;
    overflow: hidden;
    
    /* border: solid 2px orange; */
}

.header-reel {
    margin: 0;
    height: 100%;
    width: auto;
}

/* >>> HEADER CONTENT */

.header-content {
    border: solid 2px red;

    position: relative;
    margin: 0 auto;
    min-height: 93%;
    max-height: 100%;
    max-width: 100%; /* IMPORTANT: max-width prevents extra margin growing */
    display: flex;
    flex-flow: column wrap; /* change to wrap for other sizes?? */
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.header-logo {
    width: 50%;
}

/* ------------ */
/* MAIN NAV     */
/* ------------ */

.main-nav {
    width: 95%;
    /* position: absolute; */
    display: flex;
    flex-flow: column wrap;

    /* border: solid 1px green; */
}

.main-nav-toggle {
    background-color: var(--main-dark-colour);
    border: none;
    padding: 0.5em;
    margin: 0 auto;

}

/* Options <ul> */
.main-nav-options {
    height: 100%;
    list-style-type: none;
    padding: 1em;
    margin: 0;
    background-color: var(--main-dark-colour);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1em 1em;
}

/* Option tiles <li> */
.main-nav-options__option {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 3px var(--accent-1);
    padding: 2em;
}


/* >>> Nav options border colours, cycle between 4 colours */

.main-nav-options__option:nth-child(4n+2) {
    border: solid 3px var(--accent-3);
}

.main-nav-options__option:nth-child(4n+3) {
    border: solid 3px var(--accent-4);
}

.main-nav-options__option:nth-child(4n+4) {
    border: solid 3px var(--main-light-colour);
}

.main-nav-options__option a:link {
    font-size: 1.75em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-light-colour);
}

.main-nav-options__option a:visited {
    color: var(--main-light-colour);
}

/* Option interactions */

.main-nav-options__option:hover {
    text-decoration: underline;
    color: var(--main-light-colour);
    border-width: 4px;
}

.main-nav-options__option a:active {
    text-decoration: underline;
}
/* ------------------- */
/* >> PAGE FOOTER      */
/* ------------------- */

.page-footer {
    background-color: var(--main-dark-colour);
}

/* ------------------- */
/* >> PAGE MAIN        */
/* ------------------- */

.page-main-content {
    margin: 0 auto;
}

/* >>> PAGE SECTIONS */

/* >>> INFO BLOCKS */

/* >>> KEY INFO BLOCKS */

/* >>> IMAGE GALLERY */