/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<------------ NOTES -------------->>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* TO DO 
    - HTML
        - *Home
            - All done, except key point images/text
        - Class Info
        - Events
        - About Us
        - Contact

    - 27/12/2023
        Continue with header, add all fonts to headings, have made different classes for page sections with light/dark BGs to colour text more easily. Font stacks not fully supported in variables (?), so copy paste them in as would need to type fallback anyway. Look up using CSS grid for main-nav-options.

    - 28/12/2023
        Styled main-nav__options tiles and basic interactions, need to add interactivity.

    - 05/01/2024
        Set footer layout with flexbox, need to add button - start creating CTA button base style.
    
    - 08/01/2024
        Did CTA styles, Footer. Linked in slick-slider from jsdelivr CDN. Animation CSS tutorial, transition. 
        NEXT: Need to copy code into slick-sliders.js to initialise.
        NEXT: Move onto main body styles, start with image-overlay text (rename classes). Only need slick carousel for testimonial cards and About Us gallery?
    
    - 08/01/2024
        Changed nav-toggle to overlap, added drop shadow. Changed CTA sizing, added background colour to sections. 
        NEXT: Work out how to add masks to section edges. 

    - 10/01/2024
        Added rough edges to bottom of page-sections with ::after. Hid overflow with page-content wrapper.
        NEXT: Alternate section edge angle
        NEXT: Start text overlay image styling + other section styles.
    
    - 13/01/2024
        Footer: Added line decorations. Finalised footer content spacing and sizing for mobile (again). cta-link--m: decreased text size, added margin. 
        
        >>> NEXT: Start text overlay image styling + other section styles. <<<
*/

/* ------------- */
/* Useful Links  */
/* ------------- */
    /* 
    FLEXBOX CHEATSHEET: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-properties

    BEM Naming: https://getbem.com/naming/ 
        Block-name__element-name--modifier-name

    Use percentages to size elements to viewport: https://stackoverflow.com/questions/1622027/percentage-height-html-5-css
        For sizing header to 75% of viewport height... could change to newer vw/vh units? html,body and page-wrap set to 100% height+width.
    
    >>> GIT
    https://docs.github.com/en/get-started/using-git/pushing-commits-to-a-remote-repository

    >>> CLIPPY
    Online CSS clip-path generator.
    https://bennettfeely.com/clippy/
    */

    /* FONTS
        font-family: 'Anton', sans-serif;
        font-family: 'Antonio', sans-serif;
        font-family: 'Black Han Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Permanent Marker', cursive; 
    */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<-------- CSS START -------------->>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* -------------------- */
/* >>> GLOBAL VARIABLES */
/* -------------------- */

:root {

    /* Main Colour Palette */
    --main-dark-colour: #0d1e26;
    --main-light-colour: #FFF;
    --accent-1: #DA222A;
    --accent-2: #8F273F;
    --accent-3: #53A6A7;
    --accent-4: #EE8423;
    --cta-gradient-colours: #DA222A, #8F273F;

    /* Rough edge mask SVGs */
    --mask-box-rect: url("images/Textured-edge-box-1920x1080.svg");
    --mask-box-square: url("images/Textured-edge-box-1080x1080.svg");
    --mask-box-rect-p: url("images/Textured-edge-box-1080x1920.svg");
}

/* >>> Set width and height of full page elements to 100% so % values work for all attributes */

html {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    /* border: solid 3px purple; */
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    /* border: solid 3px yellow; */
}

.page-wrap {
    margin: 0;
    width: 100%;
    height: auto;

    /* border: solid 3px green; */
}

img {
    display: block;
    width: 100%;
}


/* >>> HEADINGS */

/* Page heading */
h1 {
    /* border: solid 1px red; */
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--main-light-colour);
    margin-top: 0.25em;
    margin-bottom: 0.25em; 
}

h1 em {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.25em;
    color: var(--accent-1);
    font-style: normal;
}

/* Page section heading (<article>) */
h2 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

/* Info block heading */
h3 {
    /* border: solid 1px blue; */

    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: normal;

}

/* >>> DECORATIVE TEXT*/

/* Image overlay text */
h4 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1em;
    font-weight: bold;
}

/* Info-block sub-heading */
h5 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

/* >>> LINKS */
/* Note: Change separately for nav-options, buttons, and inline/footer links */

a {
    font-family: 'Antonio', sans-serif;
}

a:link {
    color: var(--main-light-colour);
    text-decoration: none;
}

a:visited {
    color: var(--main-light-colour);
}

/* >>> PARAGRAPH */

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
    font-weight: normal;
}

/* -------------------- */
/* >> PAGE HEADER       */
/* -------------------- */

.page-header {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 35em; /* Changed to em, % not working */
    
    /* border: solid 1px blue; */
}

/* >>> HEADER BACKGROUND VIDEO */

.header-reel-container {
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    object-fit: cover;
    
    /* border: solid 2px orange;
    background-color: orange; */
}

.header-reel {

    /* border: solid 1px lime; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

/* >>> HEADER CONTENT */

.header-content {
    /* border: solid 2px red; */

    position: relative;
    margin: 0;
    padding: 2em;
    height: 100%;
    max-width: 100%; /* IMPORTANT: max-width prevents extra margin growing */
    display: flex;
    flex-flow: column wrap; /* change to wrap for other sizes?? */
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; /*Ignores h1 padding*/

    /* Darken overlay */
    background: linear-gradient(0deg, rgba(13,30,38,1) 0%, rgba(83,166,167,0) 50%);
}

.header-logo {
    max-width: 40%;
    height: auto;
}

/* ------------ */
/* MAIN NAV     */
/* ------------ */

.main-nav {
    max-width: 100%;
    position: fixed;
    bottom: 1em;
    right: 0em;
    box-sizing: border-box;
    z-index: 2;

    display: flex;
    flex-flow: column-reverse wrap;
    margin: 0 auto;

    /* border: solid 1px green; */
}

.main-nav-toggle {
    background-color: var(--main-dark-colour);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: 1em;

    box-shadow: 0 0 0.5em var(--accent-3);
    cursor: pointer;

}

.main-nav-toggle-close {
    padding: 1em;
    width: auto;
}

/* Options <ul> */
.main-nav-options {
    /* border: solid 1px red; */
    list-style-type: none;    
    padding: 2em 1.5em;
    margin: -1em 0em;

    background-color: var(--main-dark-colour);
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--accent-3);

    /* grid settings */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1em 1em;
}

/* Option tiles <li> */
.main-nav-options__option {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 3px var(--accent-1);
    padding: 2em;
    background-color: transparent;

    box-sizing: border-box;
}


/* >>> Nav options border colours, cycle between 4 colours */

.main-nav-options__option:nth-child(4n+2) {
    border: solid 3px var(--accent-3);
}

.main-nav-options__option:nth-child(4n+3) {
    border: solid 3px var(--accent-4);
}

.main-nav-options__option:nth-child(4n+4) {
    border: solid 3px var(--main-light-colour);
}

/* >> Nav options link text */

.main-nav-options__option a:link {
    font-size: 1.75em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-light-colour);
}

.main-nav-options__option a:visited {
    color: var(--main-light-colour);
}

/* Option interactions */

.main-nav-options__option:hover {
    text-decoration: underline;
    color: var(--main-light-colour);
    border-width: 4px;
}

.main-nav-options__option a:active {
    text-decoration: underline;
}
/* ------------------- */
/* >> PAGE FOOTER      */
/* ------------------- */

.page-footer {
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--main-dark-colour);
    color: var(--main-light-colour);
    padding: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    box-sizing: border-box;
}

/* Back to top */
.page-footer_page-top {
    display: block;
    padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    border: solid 0.1em var(--main-light-colour);
}

.page-footer_small-links {
    width: 100%;
}

.page-footer_small-links a {
    display: block;
    padding: 0.5em;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
    text-decoration: underline;
}

/* Footer Content */
.page-footer_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 2em;
    row-gap: 1em;
    margin: 0 auto;
    text-align: center;

}

/* Footer Content - line decorations */
.page-footer_content::before {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    margin: 0 auto;
    border-top: solid 5px var(--accent-4);
    border-bottom: solid 5px var(--accent-3);
    
    /* Line lengths control */
    --top-length: 90%;
    --bottom-length: 75%;
    
    --top-offset: calc(calc(100% - var(--top-length)) * 0.5);
    --bottom-offset: calc(calc(100% - var(--bottom-length)) * 0.5);
    
    /* Creates a T shape clip mask */
    /* background-color: red; */

    clip-path: polygon(
        calc(100% - var(--top-offset)) 0, /*From top right point*/
        calc(100% - var(--top-offset)) 50%, 
        calc(100% - var(--bottom-offset)) 50%, 
        calc(100% - var(--bottom-offset)) 100%, 
        var(--bottom-offset) 100%, 
        var(--bottom-offset) 50%, 
        0 50%,
        0 0
    );
}

.page-footer_content-media {

    /* border: solid 1px red; */
    margin: 0 auto;
}

.page-footer_content-media-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


/* ------------------- */
/* >> CTA BUTTON LINKS */
/* ------------------- */
/* --slant-value is x-value/width in em for clip-path, used to resize padding at same time */

.cta-link {
    background: linear-gradient(-30deg, var(--cta-gradient-colours));
    display: inline-block;
    padding: 1em;

    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    
}

/* Link chevrons after text*/
.cta-link::after {
    content: ">>";
    padding: 0.5em;
    padding-right: 1.5em;
}

.cta-link--m {
    --slant-value: 20%;
    clip-path: polygon(0 0, 100% var(--slant-value), 100% 100%, 0 calc(100% - var(--slant-value)));
    padding: 1.5em;
    margin: 0.75em;
    text-align: center;
}

.cta-link--m::after {
    display: none;
}

.cta-link--l {
    --slant-value: 2em;

    clip-path: polygon(0 0, calc(100% - var(--slant-value)) 0, 100% 100%, 0% 100%); /*calc() with polygon may not work outside chrome?? */
    padding: 1em;
    min-width: 66.66%;
    max-width: 100%;
    box-sizing: border-box;
}

.cta-block {
    position: relative;
}

.cta-link--xl {

    --slant-value: 1em;

    display: block;
    padding: 2em 15% 2em 15%;
    margin-bottom: calc(var(--slant-value) * -1);
    clip-path: polygon(0 0, 100% var(--slant-value), 100% 100%, 0% 100%);

    position: relative;
    z-index: 1;
    top: calc(var(--slant-value) * -1);
}


/* ------------------- */
/* >> PAGE BLOCKS      */
/* ------------------- */

/* >>> PAGE SECTIONS */

.page-main-content {
    margin: 0 auto;
    /* Hides section rough edges after rotation page-section::after */
    overflow: hidden;
    
}

.page-section {
    /* border: solid 1px red; */
    padding-bottom: 1em;
    position: relative;
}

.page-section p {
    padding: 1em;
    text-align: center;
}

/* ::AFTER ROUGH EDGE */
/* .page-section::after {
    --block-height: 4em;
    
    content: " ";
    background-color: inherit;
    display: block;
    width: 110%;
    height: var(--block-height);
    position: relative;
    transform-origin: center;
    top: calc(var(--block-height) / 2);
    transform: rotate(5deg);

    mask-image: var(--mask-box-square);
    mask-size: 110%;
    mask-position: bottom center;
    mask-repeat: no-repeat;
}

.page-section:nth-of-type(even)::after {
    transform: rotate(-5deg);
} */

/* >>> NOTE: change --block-height and/or section bottom padding for landscape ratios, also height*/

.page-section::before {
    --block-height: 11vw;
    
    content: "";
    background-color: inherit;
    /* background-color: red; */
    display: block;
    width: 110%;
    height: var(--block-height);
    margin-bottom: calc(var(--block-height) * -0.5);

    mask-image: var(--mask-box-square);
    mask-size: 100%;
    mask-position: top center;
    mask-repeat: no-repeat;

    transform-origin: 50% 50%;

    /* Attributes changed in ::nth-of-type to alternate angles */
    transform: rotate(5deg) translate(-5%, calc(var(--block-height) * -0.5));
    clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 100%);
}

.page-section:nth-of-type(odd)::before {
    /* Repeated var in block - easier to see */
    --block-height: 10vw;

    transform: rotate(-5deg) translate(-5%, calc(var(--block-height) * -0.5));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
}

.page-section:first-of-type::before {
    display: none;
}

.page-section:first-of-type {
    padding-top: 2em;
}

/* Page section fill colours */

.page-section--dark {
    /* border: solid 1px red; */
    
    background-color: var(--main-dark-colour);
    color: var(--main-light-colour); 
}

.page-section--light {
    /* border: solid 1px red; */
    
    background-color: var(--main-light-colour);
    color: var(--main-dark-colour);
    
}


/* >>> IMAGE GALLERY STYLES*/

.image-gallery {
    margin: 0 auto;
}

.image-gallery img {
    width: 100%;
}

/* TEXT OVERLAY */
.image-gallery_item--text-overlay {
    position: relative;
    margin: 0 auto;
}

.image-gallery_item--text-overlay img {
    filter: brightness(0.45);
}

.image-gallery_item--text-overlay p {
    
    margin: 0 auto;
    padding: 0;
    position: absolute;
    /* Center element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    mix-blend-mode: difference;
    
}

/* TESTIMONIALS */
.testimonials {
    margin: 0 auto;
    margin-bottom: -1em;
    position: relative;
    z-index: 0;
}

.testimonial-card {
    position: relative;
}

.testimonial-text {
    /* border: solid 1px red; */
    text-align: center;
    display: flex;
    padding: 1em;
    box-sizing: border-box;

    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    backdrop-filter: blur(0.25em) brightness(0.5);
}


.testimonial-text blockquote, .testimonial-text p {
    /* border: solid 1px red; */
    font-family: "Anton" , sans-serif;
    font-size: 1.25em;
    color: var(--main-light-colour);
    padding: 0;
}

.testimonial-text p {
    min-width: 30%;
    border-top: solid 5px var(--accent-4);
    padding-top: 1em;
}

/* >>> KEY INFO BLOCKS */

.key-info-block {
    background-color: var(--main-dark-colour);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
    padding-bottom: 3em;

    position: relative;
    margin-bottom: -1em;
}

.key-info_item {
    /* border: solid 1px red; */
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
}

.key-info_icon {
    height: 60px;
    width: auto;
    margin: 0 auto;
}

.key-info_text {
    font-weight: bold;
    color: var(--main-light-colour);
    margin: 0;
}

.key-info-block .cta-link {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    transform: translate(0, 50%);
}

/* >>> INFO BLOCKS */
/* Inherits colours from page-section*/

.info-block {
    margin: 0;
}

.info-block p {
    text-align: left;
    padding: 1em 2em;
    max-width: 75ch; /* Readability */
}

/* Underline colours cycle */
.info-block>h3 {
    display: inline-block;
    border-bottom: solid 0.25em var(--accent-4);
    min-width: 40%;
    max-width: 80%;
    margin: 1em;
    margin-bottom: 0;
    padding: 0.25em 0;
}

.info-block:nth-of-type(2n)>h3 {
    border-bottom: solid 0.25em var(--accent-3);
}

.info-block:nth-of-type(3n)>h3 {
    border-bottom: solid 0.25em var(--accent-2);
}

.info-block:nth-of-type(4n)>h3 {
    border-bottom: solid 0.25em var(--accent-1);
}

/* Alternate text alignment */
.info-block:nth-of-type(2n) {
    text-align: right;
}

.info-block:nth-of-type(2n)>p {
    text-align: right;
}

/* Info-block media */

/* Faded edges */
.info-block_bg-img {

    object-fit: cover;
    height: 60vh;
    margin: -2em 0 -2em 0;
    mask-image: linear-gradient(0deg, rgba(13,30,38,0) 0%, rgba(13,30,38,100) 25%, rgba(13,30,38,100) 75%, rgba(13,30,38,0) 100%);
}

/* Regular images & video */
/* - In class info page */

.info-block_img {
    width: 100%;
    height: auto;
}

.info-block_vid {
    width: 100%;
    height: auto;
}

.info-card-block {
    border: solid 1px red;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}


.info-card {

    background-color: var(--main-dark-colour);
    color: var(--main-light-colour);
    position: relative;
    max-width: 45%;
    padding: 1.5em;
    margin: 0.5em;
    box-sizing: border-box;
    
    mask-image: var(--mask-box-rect-p);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.info-card_icon, .info-card_text {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    color: var(--main-light-colour);
}